{
  "arrowParens": "always",
  "bracketSameLine": false,
  "singleQuote": false,
  "printWidth": 80,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@(/.*)$",
    "",
    ".[.]",
    "",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "5.6.3",
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators",
    "decoratorAutoAccessors"
  ]
}
